.header
{
  position: fixed;
  width: 100vw;
  height: 10vh;
  line-height: 10vh;
  background: #673ab7;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.main-container{
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
